


.terminosmodal{
      font-size: 16px;
      
      grid-column: 17/45 ;
      grid-row: 5/ 55;
      height: 100%;
}

.titulomodal{
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(0, 0, 0);
      height: 15%;
      font-size: 1.5em;
   
}.parrafomodal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 6%;
      font-size: 1.3em;
      height: 70%;
      
}#parrmodal1{
      margin-bottom: 7%;
}.acepmodal button{
      color: white;
      background-color: var(--negro2);
      font-size: 1em;
      width: 8em;
      height: 2em;     
}.acepmodal{
      margin-top: 7%;
      display: flex;
      justify-content: center;

}a{
      text-decoration: none;
      color: white;
}
/*movil*/
@media screen and (min-width: 320px) and (max-width: 540px) {
      .terminosmodal{
            background-color: var(--blanco);
            grid-column: 6/58;
            grid-row: 4/ 53;
            height: 100%;
      }.titulomodal{
            font-size: 1em;
      }.parrafomodal{
            font-size: 1.1em;
      }
      
}
/*tablet*/
@media screen and (min-width: 541px) and (max-width: 780px) {
      .terminosmodal{
            background-color: var(--blanco);
            grid-column: 6/58;
            grid-row: 4/ 50;
            height: 100%;
      }.titulomodal{
            font-size: 1em;
      }.parrafomodal{
            font-size: 1.3em;
      }
}
@media screen and (min-width: 781px) and (max-width: 1160px) {
      .terminosmodal{
            background-color: var(--blanco);
            grid-column: 6/58;
            grid-row: 4/ 52;
            height: 100%;
      }.titulomodal{
            font-size: 1em;
      }.parrafomodal{
            font-size: 1.5em;
      }
}