@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Marcellus', serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}#grid-container{
      background: url(/img/regdahs/ciudad.png);
      background-size: cover;
      height: 100vh;
      display: grid;
      grid-template-rows: repeat(60, 1fr);
      grid-template-columns: repeat(60, 1fr);
}.terminos{
      background-color: var(--blanco);
      grid-column: 17/45 ;
      grid-row: 5/ 55;
      height: 100%;
}.tittle{
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);;
      height: 15%;
      font-size: 1.5em;
      color: var(--blanco);
}.text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 6%;
      font-size: 1.3em;
      height: 70%;
      
}#parrafo1{
      margin-bottom: 7%;
}.aceptar button{
      color: white;
      background-color: var(--negro2);
      font-size: 1em;
      width: 8em;
      height: 2em;     
}.aceptar{
      margin-top: 7%;
      display: flex;
      justify-content: center;

}a{
      text-decoration: none;
      color: white;
}
/*movil*/
@media screen and (min-width: 320px) and (max-width: 540px) {
      .terminos{
            background-color: var(--blanco);
            grid-column: 6/58;
            grid-row: 4/ 53;
            height: 100%;
      }.tittle{
            font-size: 1em;
      }.text{
            font-size: 1.1em;
      }
      
}
/*tablet*/
@media screen and (min-width: 541px) and (max-width: 780px) {
      .terminos{
            background-color: var(--blanco);
            grid-column: 6/58;
            grid-row: 4/ 50;
            height: 100%;
      }.tittle{
            font-size: 1em;
      }.text{
            font-size: 1.3em;
      }
}
@media screen and (min-width: 781px) and (max-width: 1160px) {
      .terminos{
            background-color: var(--blanco);
            grid-column: 6/58;
            grid-row: 4/ 52;
            height: 100%;
      }.tittle{
            font-size: 1em;
      }.text{
            font-size: 1.5em;
      }
}